<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous Submission</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="feed">
        <button id="refreshBtn">Refresh Feed</button>
        <div id="submissionFeed"></div>
    </div>
    <button id="addPostBtn">+</button>

    <div id="postForm" style="display: none;">
        <form id="submissionForm">
            <textarea placeholder="Share your thoughts..." required></textarea>
            <input type="file" accept="image/*" required />
            <button type="submit">Submit</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
  </html>
